body {
  background: #FEEFDD;
  background-color: #FEEFDD;
  font-family: "Oswald", serif;
  font-weight:700;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #56A3A6
  font-weight: 700;
  margin: auto;
  padding: 10px;
  font-size: 2.5em;
}

#title {
  text-align: center;
}

#find {
  text-align: center;
}

#learn {
  text-align: center;
}

#why {
  text-align: center;
  display: block;
}

.navcontainer nav {
  background: #56A3A6;
  display: grid;
}
.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #56A3A6;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.navcontainer li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.navcontainer a {
  text-decoration: none;
  list-style-type: none;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 400;
  font-size: 1.5em;
}
.navcontainer a:hover {
  color: #FEEFDD;
}

.menu_trigger {
  display:
}
]

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em
  font-weight: 400
}

p {
  font-family: "Quattrocento", serif;
  font-size: 1em
}

.thbheader {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.thbcaption {
  font-family: "Quattrocento", serif;
  text-align:right;
  font-size: 0.8rem;
  font-style:italic;
}

iframe {
  height: 400px;
  width: 600px;
  display: flex;
  margin: auto;

#placeholder1 {
  width:auto;
  height:auto;
  display: block;
  padding: 10px
}
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    max-height: 100vh;
    align-content: center;
  }
  .cards img {
    margin: 10px;
    border: 3px solid #000;
    max-width: 23vw;
    align-items: center;
  }

.flex-container {
  display: block;
  flex-direction: row;
  padding: 20px
}

.experience {
  text-align: left;
}

.whycareparagraph {
  display: block;
  padding-left:20px;
  padding-right: 20px;
}

#projectdes {
  display: block;
  padding-left:10px;
  padding-right: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #DE6E4B;
}

.intro-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.info-container{
   display: inline-block;
   vertical-align: top;
   padding: 20px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


* {
  box-sizing: border-box;
}

.info-container p{
    padding: 20px;
    margin: 10px;
    text-align:
}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: absolute;
  display: block;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
