body {
  background: #FEEFDD
  text-align: center;
  font-family: 'Oswald', serif;
  font-weight:700;
}

h1 {
  font-family: 'Oswald' sans-serif;
  color: #56A3A6
  font-weight: 700;
  margin: auto;
  padding: 10px;
  font-size: 2.5em;
}

#title {
  text-align: center;
}

#find {
  text-align: center;
}

#learn {
  text-align: center;
}

#why {
  text-align: center;
  display: block;
}

.navcontainer nav {
  background: #56A3A6;
  display: grid;
}
.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #56A3A6;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.navcontainer li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.navcontainer a {
  text-decoration: none;
  list-style-type: none;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 400;
  font-size: 1.5em;
}
.navcontainer a:hover {
  color: #DE6E4B;
}

h2 {
  font-family: 'Oswald,' sans-serif;
  font-size: 1.5em
  font-weight: 400
}

p {
  font-family: 'Quattrocento,' serif;
  font-size: 1em
}

.thbheader {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.thbcaption {
  font-family: 'Quattrocento,' serif;
  text-align:right;
  font-size: 0.8rem;
  font-style:italic;
}

.gallerymap {
  width:800px;
  height:400px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.placeholder1 {
  width:auto;
  height:auto;
  display: inline;
  padding: 10px
  float:left;
  border-image-repeat: stretch;
}

.flex-container {
  display: block;
  flex-direction: row;
  padding: 20px
}

.experience {
  text-align: left;
}

.whycareparagraph {
  display: block;
  padding-left:20px;
  padding-right: 20px;
}

#projectdes {
  display: block;
  padding-left:10px;
  padding-right: 10px;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #DE6E4B
}

.intro-container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
