body {
  background: #FEEFDD;
  background-color: #FEEFDD;
  font-family: "Oswald", serif;
  font-weight:700;
  font-size: 1em;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #DE6E4B;
  font-weight: 700;
  margin: auto;
  padding: 10px;
  font-size: 2.5em;
}

#title {
  text-align: center;
}

#find {
  text-align: center;
}

#learn {
  text-align: center;
}

#why {
  text-align: center;
  display: block;
}

.navcontainer nav {
  background: #56A3A6;
  display: grid;
}
.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #56A3A6;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.navcontainer li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.navcontainer a {
  text-decoration: none;
  list-style-type: none;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 400;
  font-size: 1.5em;
}
.navcontainer a:hover {
  color: #FEEFDD;
}

.menu_trigger {
  display: flex;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-family: "Quattrocento", serif;
  font-size: 1.25em;
}

.thbheader {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.thbcaption {
  font-family: "Quattrocento", serif;
  text-align:right;
  font-size: 1rem;
  font-style:italic;
}

iframe {
  height: 400px;
  width: 600px;
  display: flex;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  max-height: 100vh;
  align-content: center;
  }
  .cards img {
    margin: 10px;
    border: 3px solid #000;
    max-width: 23vw;
    align-items: center;
  }

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.flex-item {
  display: flex;
  align-items: center;
}
.experience {
  text-align: left;
  margin-left:400px;
}

.whycareparagraph {
  display: block;
  padding-left:20px;
  padding-right: 20px;
}

#projectdes {
  display: block;
  padding-left:30px;
  padding-right: 30px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #DE6E4B;
}

.intro-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.info-container{
   display: inline-block;
   vertical-align: top;
   padding: 20px;
   box-sizing: border-box;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
